@use 'variable' as *;
@mixin font-style($size,$weight:400){
    font-size: $size;
    font-weight: $weight;

}
@mixin text-style($name){
    @if $name == display {
        @include font-style($font-display:800);
    }@else if $name ==heading-1{
        @include font-style($font-h1:700);
    }@else if $name == heading-2{
        @include font-style($font-h2:600);
    }@else if $name == title{
        @include font-style($font-title:500);
    }@else if $name == body-large{
        @include font-style($font-BL:400);
    }@else if $name == body-medium{
        @include font-style($font-BM:400);
    }@else if $name == caption{
        @include font-style($font-caption:400);
    }
}
//@flex 믹스인
@mixin flex-layout(
    $dir: row,
    $justify: flex-start,
    $align: stretch,
    $gap:1rem 
){
    display:flex;
    flex-direction:$dir;
    justify-content:$justify;
    align-items:$align;
    gap:$gap;
}
//버튼 컴포넌트
@mixin button-theme($color:$black,$bg:$white,$hover-bg:$gray-500,$hover-text:$black){
    display: inline-block;
    color:$color;
    background-color: $bg;
    border-radius: $radius-md;
    border: none;
    padding:0.75rem 2rem;
    cursor: pointer;
    transition: 0.3s;
    @include text-style(body-large);
    &:hover{
        background-color: $hover-bg;
        color: $hover-text;
    }
    @include respond{
        border-radius: $radius-xl;
    }
}
@mixin btn-base-black{
    @include button-theme($white,$black,$gray-500,$white);
}
@mixin btn-base-yellow{
    @include button-theme($black,$brand-hover,$brand-hover,$black);
}
@mixin flex-center{
    @include flex-layout(row,center,center);
}
// 기본 레이아웃을 모바일 우선으로 설정.
@mixin respond{
    @media all and (min-width:768px){
        @content;
    }
}