@charset "utf-8";

#wrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap > li:hover > .detail{
    opacity: 1;
}
#wrap > li{
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
#wrap .detail{
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
}
#wrap img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#wrap .tooltip{
    background-color: #222;
    color: #fff;
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
}
#wrap .arrow{
    width: 15px;
    height: 15px;
    background-color: #222;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}